<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" />
    <link rel="stylesheet" href="../css/host.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      Lobster Pot Game - Host (Game ID:
      <span id="spanGameId"><%= locals.serverGenGameId%></span>)
    </h1>
    <div class="game">
      <div class="table-contents">
        <div class="table-headings">
          <div class="table-heading-wrapper">
            <p>Day</p>
          </div>
        </div>
        <div class="table-cells">
          <div class="day table-cell-wrapper latest">
            <p>Mon</p>
          </div>
        </div>
      </div>
    </div>

    <button id="btnRoll">Roll Dice</button>
    <button id="btnEndGame">End Game</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../src/host.js"></script>
  </body>
</html>
